.table-order {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow-x: auto; /* Cho phép cuộn ngang */
}

.table-order table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px; /* Đặt chiều rộng tối thiểu để tạo cuộn khi nhỏ hơn */
}

.table-order th,
.table-order td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

.table-order th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.table-order tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-order tbody tr:hover {
  background-color: #f1f1f1;
}

.table-order td {
  color: #333;
}

.table-order td:last-child {
  font-weight: bold;
}

.table-order td:nth-child(3),
.table-order td:nth-child(4) {
  text-align: right;
}

@media (max-width: 768px) {
  .table-order table {
    width: 100%;
    display: block;
    overflow-x: auto; /* Đảm bảo cuộn ngang khi màn hình nhỏ */
  }
}
