.sidebar {
  display: flex;
  color: #adb5bd;
  background-color: #212529;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  position: fixed;
  top: 60px;
  left: 0;
  width: 300px;
  bottom: 0;
  transform: translateX(-100%);
  z-index: 10;
  transition: transform 0.5s linear;
  & .title {
    font-size: 20px;
    font-weight: bold;
  }
  & .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & .item {
      cursor: pointer;
      &:hover {
        color: #fff;
      }
      display: flex;
      gap: 10px;
      align-items: center;
      & .name {
        margin-right: auto;
      }
    }
  }
}
.sidebar.active {
  transform: translateX(0);
}
@media screen and (max-width: 888px) {
  .sidebar {
  }

 
}
